.usaid {
    width: 246px;
    height:74px;
}
.space {
    width: 241px;
    height: 80px;
}
.tnet {
    width: 250px;
    height: 45px;
}
@media screen and (max-width: 520px) {
    .usaid {
        width: 219px;
        height: 66px;
    }
    .space {
        width: 200px;
        height: 66px;
    }
    .tnet {
        width: 250px;
        height: 45px;
    }
    .tegeta {
        height: 52px;
        width: 180px;
    }
    .spectre {
        height: 45px;
        width: 131px;
    }
    .tbcleasing {
        height: 67px;
        width: 220px;
    }
}