@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wdth,wght@62.5..100,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Georgian", sans-serif;
}
body {
    position: relative;
    min-width: 980px;
}
a {
    text-decoration: none;
}
:root {
    --primary-color: #1a1e1f;
    --secondary-color: #2B2B2B;
    --third-color: #161616;
    --blue: #00A3E0;
}
.wrapper {
    width: 980px;
    min-width: 980px;
}
.active {
    color: var(--blue);
}
.menu-container {
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.menu-container-open {
    opacity: 1;
    display: flex;
}
.menu-container-content {
    display: none;
}
section, footer {
    display: flex;
    justify-content: center;
}
.header-wrapper {
    background-color: white;
    width: 980px;
    height: 84px;
}
header {
    background-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 1.375rem;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    transition: all 0.3s;
}
.header-hidden {
    transform: translateY(-200%);
}
.header-transparent {
    background-color: #222222f2;
}
header > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    color: white;
    transition: color 0.4s, opacity 0.4s;
}
header a:hover {
    color: var(--blue);
    opacity: 1;
}
nav {
    display: flex;
    gap: 3.175rem;
    font-weight: 500;
    line-height: 26px;
    font-size: 0.875rem;
    padding:0 1rem;
    white-space: nowrap;
}
.banner {
    height: 352px;
    background-size: cover;
    background-position: center;
    background-image: url("https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1920,h_400,al_c,q_85,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg");
    align-items: center;
}
.banner .wrapper {
    font-size: 42px;
    line-height: 1.6em;
    color: white;
    text-align: left;
    padding-bottom: 1.875rem;
}
.banner-description, .banner-title {
    font-weight: 900;
}
.banner-title {
    font-size: 44px;
}
.banner-description {
    font-size: 34px;
}
.description {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
}
.description .wrapper {
    margin: 3.25rem 0 4rem 0;
}
.description .wrapper h1 {
    font-size: 28px;
    line-height: 1.6em;
    font-weight: 400;
    color: white;
    margin-bottom: 3.25rem;
}
.description .wrapper a {
    font-weight: 800;
    font-size: 20px;
    transition: color 0.4s, opacity 0.4s;
}
.description .wrapper a:hover {
    color: #caceda;
    opacity:0.8;
}
.courses {
    background-color: var(--third-color);
    padding-top: 2.25rem;
    color:white;
}
.courses-title {
    font-weight:400;
    font-size: 24px;
}
.courses-grid {
    margin: 3.75rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 36px;
    grid-row-gap: 18px;
}
.courses-grid-card {
    height: 414px;
    width: 300px;
    border: 1px solid #FFFFFF30;
    border-radius: 0.5rem;
}
.courses-grid-card > img {
    width: 100%;
    height: 150px;
}
.courses-grid-card-description-wrapper {
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5rem;
}
.courses-grid-card__description{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.courses-grid-card__description h1 {
    font-size: 18px;
}
.courses-grid-card__description p {
    font-size: 14px;
    font-weight: 400;
}
.courses-grid-card__description-btn {
    display: flex;
    gap: 0.5rem;
}
.courses-grid-card__description-btn button {
    background: none;
    border: none;
    color: var(--blue);
    font-size: 16px;
    font-weight: 700;
    cursor:pointer;
    transition: color 0.4s, opacity 0.4s;
}
.courses-grid-card__description-btn button:hover {
    color: #12a0d6;
    opacity: 0.7;
}
.carousel {
    position:relative;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
}
.carousel .wrapper h1 {
    color:white;
    margin-top: 2rem;
    font-weight: 400;
}
.slides-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    margin-top: 6rem;
    height: 95px;
}
.slide {
    display: flex;
    align-items: center;
    gap: 7.75rem;
    position:absolute;
    transition: all 1s;
}
.fade-in {
    opacity: 1;
}
.prev-button, .next-button {
    width: 18px;
    height: 35.14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.prev-button:hover, .next-button:hover {
    filter: invert(50%);
}
.prev-button {
    left: 5%;
}
.next-button {
    right: 5%;
    top: 27.25%;
    transform: rotate(180deg);
}
.carousel-dots {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    color: white;
    margin: 1.5rem 0 5rem 0;
}
.carousel-dot{
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
}
.carousel-dot--active {
    background-color: red;
}
.accordion {
    background-color: var(--third-color);
    color: #F4F4F4;
    padding: 6rem 3rem 4rem 4rem;
}
.accordion .wrapper {
    padding: 0 2rem;
}
.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion-header > h2 {
    font-size: 24px;
    font-weight: 400;
}
.accordion-header a {
    font-size: 20px;
    transition: color 0.4s, opacity 0.4s;
    font-weight: 800;
}
.accordion-header a:hover {
    color: #caceda;
    opacity:0.7;
}
.accordion-wrapper {
    margin: 1rem 0;
}
.accordion-item {
    padding: 32px 0;
    border-bottom: 1px solid #FFFFFF30;
    cursor:pointer;
    max-height: 6rem;
    overflow: hidden;
    transition: all 0.3s;
}
.accordion-item--header {
    display: flex;
    justify-content: space-between;
}
.accordion-item--header__title {
    font-size: 18px;
    font-weight: 400;
}
.accordion-item--active {
    transform: rotate(180deg);
}
.accordion-item--body {
    display: flex;
    flex-direction: column;
    padding: 2rem 0.25rem 0.25rem;
    gap: 2.5rem;
    font-size: 14px;
    line-height: 2;
}
.accordion-open {
    max-height: 50rem;
}
.accordion-item--body div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0 1.25rem;
}
footer {
    background-color: #1A1E1F;
    padding: 4.5rem 0 3rem 0;
}
footer .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 14px;
    position: relative;
    color: white;
}
footer button {
    padding: 0.5rem 1.925rem;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    background-color: #00AEF3;
    border: none;
    border-radius: 0.375rem;
    color: white;
    transition: color 0.4s, opacity 0.4s;
    cursor: pointer;
}
footer button:hover {
    background-color: #D5D5D5;
    opacity: 1;
    color: #1a1e1f;
}
.footer-socials {
    display: flex;
    gap: 0.625rem;
    position: absolute;
    top: 0;
    right: 0;
}
.footer-SM {
    display: none;
}
.hidden {
    display: none;
}

@media screen and (max-width: 320px) {

    .wrapper {
        min-width: 280px;
        width: 280px;
    }
    html, body {
        width: 320px;
        max-width: 320px;
        min-width: unset;
    }
    .menu {
        position: fixed;
        z-index: 555;
        right: 16px;
        top: 20px;
        display: flex;
        transition: 0.3s;
    }
    .menu__span-parent {
        z-index: 20;
    }
    .menu-container {
        background-color: #222222f2;
        height: 100%;
        width: 100%;
        position: fixed;
        right: 0;
        z-index: 10;
    }
    .menu-container-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        position: fixed;
        height: 100%;
        width: 0;
        overflow: hidden;
        background-color: #1a1a1a;
        right: 0;
        transition: width 0.5s;
        padding: 6.25rem 1rem;
        white-space: nowrap;
    }
    .menu-container-content-open {
        width: 62%;
    }
    .menu-container-content a {
        color: white;
        font-size: 14px;
    }
    header {
        padding: 0;
    }
    .header-wrapper {
        width: 320px;
        height: 69px;
    }
    header .wrapper {
        padding: 1.25rem 0;
    }
    header .wrapper img {
        width: 130px;
        height: 29px;
    }
    header .wrapper nav {
        display: none;
    }
    .banner {
        height: 217px;
    }
    .banner .wrapper {
        line-height: 0.75em;
    }
    .banner-title {
        font-size: 24px;
    }
    .banner-description {
        font-size: 22px;
    }
    .description .wrapper {
        margin: 2rem 0 3rem;
    }
    .description .wrapper h1 {
        font-size: 16px;
    }
    .description .wrapper a {
        font-size: 16px;
    }
    .courses-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .courses-grid-card {
        width: 280px;
        height: 289px;
    }
    .courses-grid-card > img {
        height: 140px;
    }
    .carousel {
        justify-content: space-between;
        height: 430px;
    }
    .carousel .wrapper h1 {
        font-size: 18px;
        white-space: nowrap;
    }
    .slides-wrapper {
        height: 300px;
        margin: 0;
    }
    .slide {
        height: 100%;
        width: 280px;
        justify-content: space-around;
        flex-direction: column;
        gap: 1rem;
    }
    .carousel-dots {
        margin: 0 0 1rem 0;
    }
    .prev-button, .next-button {
        display: none;
    }
    .accordion {
        padding: 0;
    }
    .accordion .wrapper {
        padding: 2.75rem 0.5rem;
    }
    .accordion-header > h2 {
        font-size: 20px;
    }
    .accordion-header > a {
        display: none;
    }
    .accordion-item--header__title {
        font-size: 16px;
    }
    .accordion-open {
        max-height: 120rem;
    }
    footer {
        display: none;
        padding: unset;
    }
    .footer-SM {
        display: block;
        padding: 2.5rem;
    }
    .footer-SM .wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .footer-SM-contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-SM-contacts button {
        position: relative;
        padding: 0.5rem 0.75rem;
        font-size: 14px;
    }
    .footer-SM-socials {
        display: flex;
        gap: 1rem;
        margin-right: 2rem;
    }
    .footer-SM-socials img {
        height: 35px;
        width: 35px;
    }
    .footer-SM-copyright {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}