.menu-button {
    width: 32px;
    height: 28px;
    position: fixed;
    z-index: 555;
    right: 16px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.25s;
}
.menu_wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
}
.menu-button__span-parent {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 21px;
    justify-content: space-between;
    transition: transform .33s ease-out;
    width: 26px;
}
.menu__span-parent--active {
    transform: rotate(-45deg);
}
.menu__top, .menu__bottom, .menu__full {
    height: 3px;
    background: #dbdbdb;
    border-radius: 1.5px;
    width: 100%;
}
.menu-button .menu__half {
    width: 50%;
}
.menu-button .menu__top {
    align-self: flex-start;
    transform-origin: right;
    transition: transform .33s cubic-bezier(.54,-.81,.57,.57);
}
.menu-button .menu__top--animated {
    transform: rotate(-90deg) translateX(4px);
    background: #767676;
}
.menu-button .menu__bottom--animated {
    transform: rotate(-90deg) translateX(-4px);
    background: #767676;
}
.menu-button .menu__bottom {
    align-self: flex-end;
    transform-origin: left;
    transition: transform .33s cubic-bezier(.54,-.81,.57,.57);
}
.menu__top--animated, .menu__bottom--animated, .menu__middle--animated {
    background: #767676;
}
